body.light .maplibregl-ctrl-top-right > div > button,
body.light .maplibregl-ctrl-top-right > div {
  background-color: rgba(255, 255, 255, 0.603);
}

body.dark .maplibregl-ctrl-top-right > div > button,
body.dark .maplibregl-ctrl-top-right > div {
  background-color: #000000;
}

.map-control-panel {
  background-color: transparent !important;
  padding: 0;
  margin-right: 0;
}

body.light .maplibregl-popup-content {
  background-color: rgba(255, 255, 255, 0.603) !important;
}

body.dark .maplibregl-popup-content {
  background-color: transparent !important;
  padding: 0;
  border-radius: 15px;
}
.maplibregl-popup-close-button {
  display: none !important;
}
